<!DOCTYPE html>
<html>
<head>
    <title><%title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs%>

<h3> About page</h3>
<p> my mane is aviam!</p>

</ul>


</body>
</html>
