<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        body {
            background-color: lightblue;
        }
    </style>
</head>

<body>

<div class="center">

<h3> <u> Home Made Creambo</u> </h3>
<p>
    Crembo is a Israeli winter dessert, it made from biscuit, cream and coating. <br>we have a never ending debate in Israel regarding of what should you eat first the cream or the biscuit ?<br>  so, what do you prefer ?<br>
    the meaning of the word creambo in Hebrew is cream inside.
</p>
<img src='http://upng.co.il/uploads/b7aa343cdbc909dcd197004c0c04cb3a.png' >
<p>
    Place a bowl, protein, sugar and salt Heat over the Bain-marie (pot with boiling water). Heat to a temperature of 149 degrees Fahrenheit. Unlike many recipes, this thermometer is really optional, is indeed makes life much easier, but you can certainly do without. If there is no thermometer, heat the mixture until the sugar dissolves about - 5 minutes on high heat. Even if you miss a few degrees either way, the meringue will still good. However, if you love baking, I recommend you purchase a kitchen thermometer is helping quite a few recipes and always helpful and accurate results more professional.
</p>

<img src='http://upng.co.il/uploads/15e13d8c7c666c9c76075db7667b8bb4.png'>
<p>
    this is how the mixture seems after heating. Transfer it to a mixer bowl, add a teaspoon of vanilla extract or puree and whisk at high speed for 8-10 minutes. At the end the foaming received very thick foam, supple and shiny. Since - 10 minutes is a long time, it is possible in the meantime to prepare the basis for the creambo.
</p>
<img src='http://upng.co.il/uploads/fedba5e9b2a3d1b406d1511ae0366c67.png'>
<p>
    Of course one can complicate life and  bake the cookies for the foundation of the creambo, but the most simple and easy, and no less delicious, this use a biscuit or even Oreo cookies. my favorite is the lotus cookies.
</p>
<img src='http://upng.co.il/uploads/8304ae654f7fd4fbb11d36de292cb0f0.png'>

<p>
    take 20 biscuits, with a sharp knife leaving each biscuit in the middle. Arrange on a baking tray lined with baking paper. Preferably a pattern or your freezer tray can hold.

    back to the meringue - After 10 minutes whipping bowl has been cold to the touch and the meringue is thick and glossy. set the meringue  in a pastry bag with a smooth nozzle diameter of 1 cm.
</p>
<img src='http://upng.co.il/uploads/47526886d8a6dc7a43daf78f1dddcce6.png'>
<p>
    There are two options spritz the meringue onto the biscuit. Or spiral - forming a circle on the base and rise upward in a spiral to create a cone curled. Or you put the bag sprinkling in - 90 degrees to the center of the cookie and slowly raise the bag sprinkling a little higher. Anyway, either way you should create the creambos about - 4-5 cm height. Transfer the creambos to the freezer.
</p>

<img src='http://upng.co.il/uploads/3c08b6cbcda1a185cc72201ccf26256c.png'>
<p>
    Choose the preferred coating - dark chocolate, lotus paste (a great combination to me!) Or white / milk chocolate. And melt it in high, narrow glass. if you choose The  Lotus paste  warm it slightly in the microwave just until it becomes liquid. Dark chocolate will take a little longer to melt, but it is also important to do it gradually so as not to burn it. Mix well and let cool slightly, but keep the coating liquid rather than harden. Prepared next to a net and place a baking sheet underneath.
</p>
<img src='http://upng.co.il/uploads/66df39d4a783006e4a9f69ca7bf0be03.jpg'>
<p>
    while holding the creambo base dip in the liquid coating , allow the coating to drip a little back to the cup and place on the net. You should allow the coating to harden in  the refrigerator for half an hour, and the home made creambo is ready.
</p>
<img src='http://upng.co.il/uploads/9d13d176953b699a4a26172a3f4e5893.jpg'>
<p>
    <br>  <u>#ingredients - for approximately 40 small creambos</u>
    <br>   20  Lotus cookies
    5 Divided protein (175 grams) from large size eggs
    A quarter cup (250g) sugar
    Pinch of salt
    1 teaspoon of extract / puree and vanilla

<br>
    <br><u>#for the Coating</u><br>

    1 jar lotus paste (400g) or an equal amount of milk/ white/ dark chocolate 56%

    Arrange the halves on a baking cookies or serving plate.

    In a medium saucepan bring to boil water at about - 2-3 cm. Place a heat-proof bowl over so you do not touch the water directly (Bain-marie). Place in a bowl the egg whites, sugar and salt. Heat the egg whites while predation for about 5 - minutes until the sugar dissolves completely and the mixture is very hot to the touch (when using thermometer temperature should reach - 149 degrees Fahrenheit). Transfer the mixture of proteins mixer bowl, add the vanilla extract / puree and whisk at high speed until the foam is flexible and shiny and the bowl is cold to the touch on the outside (about - 8-10minutes). Transfer the meringue to a pastry bag with a smooth nozzle 1 cm wide.

    Pipe the meringue on top of half the cookies. Transfer to the freezer for 30 minutes.<br>

    <br> <u>#Coating</u> <br>

    Lotus paste Heat in microwave until it becomes liquid or solvent carefully the chocolate in the microwave (for 20-30 seconds at a time) Mix well and transfer to a narrow and high glass. Dip each creambo in the liquid coating. let the leftovers of the coating drip back into the vessel and place them on the net above the baking paper. put the creambos in the refrigerator for approximately - 30 minutes until the coating sets. Keep refrigerated until serving <br>

   <br> enjoy ! <br>
  <br>  (the recipe was translated to hebrew from http://www.metukimsheli.com/2013/10/6616)
</p>

</div>
</body>
</html>